@import "tailwindcss";

@keyframes scale-pop {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
        /* noticeable zoom */
    }
}

.animate-scale-pop {
    animation: scale-pop 2s ease-in-out infinite;
}

.hover\:animate-scale-pop:hover {
    animation: scale-pop 2s ease-in-out infinite;
}